<div>
    <img width="5%" height="5%" src="http://richardcoffey.net/wp-content/uploads/2015/08/Concordia-University-St-Paul_1500x1500.jpg" />
    <h1 float="right">Concordia Book Store</h1>
</div>
<div>
    <h3>Welcome to Concordia's textbook resale site</h3>
    <p>Here you can buy, rent or exchange your used textbooks with other CSP students</p>
</div>
<div >
    <p class="redFont">Reminder: First day of classes is next monday, don't wait until the last day to get your textbooks </p>
</div>
      
        
        
    