<div class="row">
        <img class="col-xs-2" style="height:10%;width:10%;" src="http://richardcoffey.net/wp-content/uploads/2015/08/Concordia-University-St-Paul_1500x1500.jpg" />
        <h1 class="col-xs-10" style="padding-top:40px;">Concordia Book Store</h1>
</div>
<div class="jumbotron">
    <h3>Welcome to Concordia's textbook resale site</h3>
    <p>Here you can buy, rent or exchange your used textbooks with other CSP students</p>
</div>
<div >
    <p class="redFont">Reminder: First day of classes is next monday, don't wait until the last day to get your textbooks </p>
</div>
      
        
        
    