<div class="row">
    <div ng-controller="BookIndexController">
        @Html.ActionLink("Create", "Create")
        <div ng-show="isLoading" class="loader">loader...</div>
        <div ng-hide="isLoading">
            <div class="container">
                <h2>Available Books</h2>
                <!-- book search function, added the table that includes the option value, and the input query -->
                <table>
                    <tr>
                        <td align="right">Search By :</td>
                        <td>
                            <select ng-model="queryBy">
                                <option value="$"></option>
                                <option value="title">Title</option>
                                <option value="isbn">ISBN</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">Search :</td>
                        <td><input ng-model="query[queryBy]" /></td>
                    </tr>
                </table>
                <div class="row">
                    <div ng-repeat="book in books | filter: query">
                        <div class="col-md-4">
                        <div class="box" style="text-align:center;">
                            <img class="cover-photo" src="{{book.photoUrl}}" />
                            <div>Title: {{book.title}}</div>
                            <div>Isbn: {{book.isbn}}</div>
                            <!--<div>Genre: {{book.genre}}</div> -->
                            <div>Quantity: {{book.quantity}}</div>
                            <div>Sell Price: {{book.sellingPrice}}</div>
                            <div>Rent Price: {{book.rentingPrice}}</div>
                            <div ng-if="book.AvailableTrade == true">Eligible for Trade</div>
                            <div ng-if="book.AvailableTrade != true">Not Eligible for Trade</div>
                            <!--<button class="btn btn-primary" ng-click="rentBook(book.id)">Rent</button> -->
                            <button class="btn btn-primary" ng-click="sendMessage(book.id)">Send Message</button>
                            <!--<button class="btn btn-danger" ng-click="delete(book.id)">Remove</button> -->
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
</div>
